*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    font-family: 'Lato', sans-serif;
}
#navbar{
    background-color: #f9f9f9;
}
#logo{
    font-size: 36px;
    font-weight: bold;
    color:black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: #f00;
}
.navbar-toggler span{
    color:#f00
}
.navbar-nav{
    margin-left: 20px;
}
.d-flex{
    margin-left: 350px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color:black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5 ease;
}
.nav-item .nav-link:hover{
    background-color: #f00;
    color:white
}
#navbar form button{
    background: #f00;
    color:white;
    border: none;
}
.home{
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h5{
    color:darkred;
    font-size: 38px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
}
.home .content h1{
    color:darkred;
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.home .content p{
    color:darkred;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}
.changecontent::after{
    content: '';
    color:coral;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content: "Habitat";}
    10%{content: "Sleep-High";}
    20%{content: "Rich-Home";}
    30%{content: "Englander";}
    40%{content: "Yanssen";}
    50%{content: "Forbed";}
    60%{content: "Taky";}
    70%{content: "Fitness";}
    80%{content: "Restonic";}
    90%{content: "Tripple-Comfort";}
    100%{content: "Semonis";}
}
.home .content a{
    padding: 10px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}    
.home .content a:hover{
    background-color: #f00;
    color: white;
}
@media(max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media(max-width:450px){
    .home .content h5{
        font-size: 25px;
    }
    .home .content h1{
        font-size: 38px;
    }
    .home .content p{
        font-size: 13px;
    }
}
.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
    color:#f00;
}
.packages .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.1)0px 4px 12px
}
.packages .card img{
    border-radius: 5px;
}
.packages .card .card-body{
    background: transparent;
}
.packages .card .card-body h3{
    font-size: 26px;
    font-weight: 600;
}
.packages .card .card-body p{
    font-size:15px;
    font-weight: 600;
}
.checked{
    color:#ffa500;
}
.star i{
    font-size: 15px;
}
.packages .card .card-body h6{
    font-size: 20px;
}
.packages .card .card-body a{
    padding: 10px;
    text-decoration: none;
    background-color: #f00;
    color:white;
    border-radius: 5px;
}
.about{
    padding: 50px;
    margin-top: 50px;
    background: #f9f9f9;
}
.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 10px;
}
.about h2{
    font-weight: 600;
    letter-spacing: 1px;
}
.about p{
    font-weight: 500;
    font-size: 20px;
}
#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color: #f00;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
}
#about-btn:hover{
    width: 170px;
}
@media (max-width:765px){
    .about{
        padding: 0;
    }
}
.gallary{
    margin-top: 50px;

}
.gallary .card{
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.1)0px 4px 12px;
}
.gallary .card img{
    border-radius: 10px;
    transition: 0.5s;
}
.gallary .card img:hover{
    transform: scale(1.1);
}
#footer{
    width: 100%;
    padding: 50px;
    background: #f9f9f9;
    text-align: center;
    margin-top: 150px;
}
#footer h1{
    font-weight: 600;
    text-shadow: 0px 0px 1px black;
}
#footer h1 span{
    color: #f00;
}
.social-links i{
    padding: 10px;
    background: black;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;

}
.social-links i:hover{
    transform: scale(1.4);
    background-color: #f00;
}
#footer .credit a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}